body {
  background-color: #f7ecde;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 600;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-size: 50px;
  color: rgb(53, 46, 40);
  position: relative;
  z-index: 999;
}
h1::before {
    content: '';
    height: 20%;
    width: 100%;
    bottom: 25%;
    background-color: #FEC260;
    position: absolute;
    z-index: -1;
    transition: all 0.5s;
}
h1:hover::before {
    height: 50%;
}

h2 {
  font-family: "Righteous", sans-serif;
  font-weight: 500;
  font-size: 25px;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  -webkit-background-clip: text;
  background-clip:var(-webkit-background-clip);
  -webkit-text-fill-color: transparent;
}
.subBtn button {
  background-color: red;
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 10px 50px;
  transition: all 0.5s;
}
.subBtn button:hover {
  background-color: #BB4120;
}
.inputContainer {
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  padding-bottom: 30PX;
  margin-top: 40px;
}

.visit-btn {
  background-color: #a0ba1f;
  border: 0;
  border-radius: 10px;
  padding: 5px 20px;
  color: white;
  transition: all 0.5s;
}
.visit-btn:hover {
  background-color: #8A9E23;
 
}
.delete-btn {
  background-color: red;
  border: 0;
  border-radius: 10px;
  padding: 5px 20px;
  color: white;
  transition: all 0.5s;
}
.delete-btn:hover {
  background-color: #D30820;
}